<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Audio" version="3.8.0" targetFramework="net461" />
  <package id="Accord.DirectSound" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net461" />
  <package id="DynamicLanguageRuntime" version="1.2.2" targetFramework="net461" />
  <package id="IronPython" version="2.7.9" targetFramework="net461" />
  <package id="MathNet.Filtering" version="0.6.0" targetFramework="net461" />
  <package id="MathNet.Numerics" version="4.8.1" targetFramework="net461" />
  <package id="MathNet.Numerics.Data.Matlab" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.ML" version="0.2.0" targetFramework="net461" />
  <package id="NAudio" version="1.9.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="Numpy" version="3.7.1.9" targetFramework="net461" />
  <package id="Python.Included" version="3.7.3.2" targetFramework="net461" />
  <package id="Python.Runtime.NETStandard" version="3.7.0" targetFramework="net461" />
  <package id="Rychusoft.NumericalLibraries.Calculator" version="1.0.6216.39191" targetFramework="net461" />
  <package id="Rychusoft.NumericalLibraries.Derivative" version="1.0.6216.39191" targetFramework="net461" />
  <package id="Rychusoft.NumericalLibraries.FourierTransform" version="1.0.6217.35254" targetFramework="net461" />
  <package id="SharpDX" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.DirectSound" version="4.0.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.CodeDom" version="4.4.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.1" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Dataflow" version="4.8.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>